.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: $background-light;
  box-shadow: 0px 24px 48px -12px #1018282E;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 450px;

}

